*{
    margin: 0px;
    padding: 0%;
}
   
nav{
    position: fixed;
    background: gray;
    width: 100%;
    height: 25px;
}

.headline{
}

#principal{
    background: yellow;
    height: 500px;
    padding-top: 30px;
}

#produtos{
    background-color: lightblue;
    height: 600px;
}

#promoção{
    background: lightgrey;
    height: 600px;
}

#contato{
    background: lightpink;
    height: 600px;
}
